.header {
  color: white;
  width: auto;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  margin-bottom: 10px;
}

.quick-slogan {
  margin: 0;
}

li {
  list-style-type: none;
  font-size: 20px;
}

p {
  font-size: 20px;
  margin: 0;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .quick-slogan {
    padding-bottom: 8rem;
  }
  .container {
    position: relative;
    width: 200px;
    height: 220px;
    /* margin-top: 90px; */
    background: rgba(0, 0, 0, 0);
    transform: rotate(-30deg) skew(25deg) scale(0.8);
    transition: 0.5s;
    text-align: center;
  }
  .container img {
    position: absolute;
    width: 100%;
    transition: 0.5s;
    margin-top: 15px;
  }
  .container img:nth-child(4) {
    transform: translate(60px, -60px);
    opacity: 1;
  }
  .container img:nth-child(3) {
    transform: translate(45px, -45px);
    opacity: 0.6;
  }
  .container img:nth-child(2) {
    transform: translate(30px, -30px);
    opacity: 0.3;
  }
  .container img:nth-child(1) {
    transform: translate(15px, -15px);
    opacity: 0.2;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    position: relative;
    width: 210px;
    height: 240px;
    margin-top: 80px;
    background: rgba(0, 0, 0, 0);
    transform: rotate(-30deg) skew(25deg) scale(0.8);
    transition: 0.5s;
    text-align: center;
  }
  .container img {
    position: absolute;
    width: 100%;
    transition: 0.5s;
    margin-top: 15px;
  }
  .links-container {
    font-size: 20px;
  }
  .container:hover img:nth-child(4) {
    transform: translate(60px, -60px);
    opacity: 1;
  }
  .container:hover img:nth-child(3) {
    transform: translate(45px, -45px);
    opacity: 0.6;
  }
  .container:hover img:nth-child(2) {
    transform: translate(30px, -30px);
    opacity: 0.3;
  }
  .container:hover img:nth-child(1) {
    transform: translate(15px, -15px);
    opacity: 0.2;
  }
}
