@import url("https://css.gg/arrow-top-right.css");
@import url("https://css.gg/arrow-bottom-right.css");

.card-container {
  margin: 1.5rem;
  justify-content: left;
  height: 30vh;
  border-radius: 9px;
  background: #292d32;
  box-shadow: 5px 5px 10px #121416, -5px -5px 10px #40464e;
}

.card-container h2 {
  padding: 1rem;
}

.card-ticker {
  font-size: 30px;
}

.status,
.upper-card {
  display: flex;
}

.status h3,
.status h2 {
  margin: 0;
  padding: 1rem;
}

.upper-card {
  justify-content: space-between;
}

.gg-arrow-top-right {
  color: rgb(105, 240, 105);
  width: 20px;
  height: 20px;
  border-right: 3px solid;
  border-top: 3px solid;
}

.gg-arrow-top-right::after {
  width: 29px;
  height: 3px;
  top: 8.5px;
  right: -4px;
}

.gg-arrow-bottom-right {
  color: rgb(255, 45, 45);
  width: 20px;
  height: 20px;
  border-right: 3px solid;
  border-bottom: 3px solid;
}

.gg-arrow-bottom-right::after {
  width: 29px;
  height: 3px;
  top: 7px;
  right: -5px;
}

.card-icon {
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 3rem;
  border-radius: 50%;
  background: #292d32;
  box-shadow: inset 20px 20px 60px #23262b, inset -20px -20px 60px #2f343a;
}

.selectedStock {
  color: white;
  text-decoration: none;
}

.card-container:hover {
  border-radius: 9px;
  background: #292d32;
  box-shadow: inset 20px 20px 60px #23262b, inset -20px -20px 60px #2f343a;
}
